/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
$containerColor: #fff;
div.container {
    background: $containerColor;
}

$containerWidth:100%;
div.left {
    width: 30%;
    text-align: center;
    float: left;
    p {
        font-size: 20px;
        margin: 10px auto;
    }
    div.left-top {
        height: 166px;
        background: #f00;
        line-height: 166px;
        margin-top: 60px;
        span {
            font-size: 80px;
            color: #fff;
        }
    }
}

div.right {
    width: 70%;
    float: left;
    text-align: center;
    margin-top: 60px;
    p.first {
        color: #228B22;
        font-size: 50px;
    }
    p.second {
        color: #228B22;
        font-size: 25px;
        margin-top: 10px;
        span.first {
            margin-left: 23px;
        }
        span.second {
            margin-right: 0px;
        }
    }
    p.third {
        color: #f00;
        font-size: 40px;
        margin-top: 30px;
    }
}

div.body {
    background: #228B22;
    clear: both;
    color: #fff;
    width: 100%;
    height: 280px;
    div.content {
        padding: 20px 40px;
        ul {
            list-style: none;
            li {
                width: 1em;
                float: left;
                margin-left: 15px;
                margin-right: 15px;
            }
        }
    }
}

div.footer {
    width: 100%;
    p {
        text-align: center;
        font-size: 25px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    div.line {
        text-align: center;
        width: 60%;
        height: 10px;
        background: #f00;
        float: left;
        margin-left: 180px;
    }
    div.triangle {
        width: 0;
        height: 0;
        border-top: 30px solid transparent;
        border-left: 150px solid #f00;
        float: left;
        margin-top: -20px;
    }
}
