body {
    background: #7FFFD4;
    font-size: 20px;
}

div.container {
    text-align: center;
}

p {
    font-size: 30px;
    padding-top: 150px;
}

div.div1 {
    margin-top: 20px;
}

div.div2 {
    margin-top: 20px;
}

a.btn {
    margin-top: 20px;
    width: 290px;
}
