* {
    margin: 0;
    padding: 0;
}

.xiezi {
    width: 100px;
    height: 100px;
    background-color: orange;
}

.xiehe {
    margin: 50px;
    margin-left: 100px;
    width: 120px;
    height: 120px;
    padding: 10px;
    background-color: blue;
    border: 5px solid yellow;
    box-shadow:50px -50px 5px 5px rgba(255,0,0,.9);
}
