<!DOCTYPE html>
    <html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>百度新闻</title>    
    <link href="images/bangfavicon34.ico" rel="shortcut icon">
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/app.css">
    </head>
        <!--[if lt IE 9]>
            <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
<body>
    <div class="con"><!-- 顶部开始 -->
        <div class="top-logo-div">
            <a href="" class="top-logo-du"></a><!-- logo-->
            <img class="top-logo-img" src="images/logo_white_fe6da1ec.png">
            <a href="" class="top-logo-jia"></a>
        </div>
        <div class="top-title"><!-- title -->
            <nav>
                <ul class="row ul-navlist" id="navlist">
                    <!-- 新闻导航栏 -->
                    <li class="col-xs-4" data-newstype="hot">推荐</li>
                    <li class="col-xs-4" data-newstype="web">互联网</li>
                    <li class="col-xs-4" data-newstype="etm">娱乐</li>
                </ul>
            </nav>
        </div>
    </div><!-- 顶部结束 -->    
    <article>
        <!-- 新闻显示 -->
        <div class="newsmain newshow baidunew">
            
        </div>
    </article>
    <script type="text/javascript" src="javascripts/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="javascripts/index.js"></script>
  </body>
</html>