/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.scss */
div.container {
  background: #fff;
  min-width: 1366px;
}

/* line 13, ../sass/screen.scss */
div.left {
  width: 30%;
  text-align: center;
  float: left;
}
/* line 17, ../sass/screen.scss */
div.left p {
  font-size: 20px;
  margin: 10px auto;
}
/* line 21, ../sass/screen.scss */
div.left div.left-top {
  height: 166px;
  background: #f00;
  line-height: 166px;
  margin-top: 60px;
}
/* line 26, ../sass/screen.scss */
div.left div.left-top span {
  font-size: 80px;
  color: #fff;
}

/* line 33, ../sass/screen.scss */
div.right {
  width: 70%;
  float: left;
  text-align: center;
  margin-top: 60px;
}
/* line 38, ../sass/screen.scss */
div.right p.first {
  color: #228B22;
  font-size: 50px;
}
/* line 42, ../sass/screen.scss */
div.right p.second {
  color: #228B22;
  font-size: 25px;
  margin-top: 10px;
}
/* line 46, ../sass/screen.scss */
div.right p.second span.first {
  margin-left: 23px;
}
/* line 49, ../sass/screen.scss */
div.right p.second span.second {
  margin-right: 0px;
}
/* line 53, ../sass/screen.scss */
div.right p.third {
  color: #f00;
  font-size: 40px;
  margin-top: 30px;
}

/* line 60, ../sass/screen.scss */
div.body {
  background: #228B22;
  clear: both;
  color: #fff;
  width: 100%;
  height: 280px;
}
/* line 66, ../sass/screen.scss */
div.body div.content {
  padding: 20px 40px;
}
/* line 68, ../sass/screen.scss */
div.body div.content ul {
  list-style: none;
}
/* line 70, ../sass/screen.scss */
div.body div.content ul li {
  width: 1em;
  float: left;
  margin-left: 15px;
  margin-right: 15px;
}

/* line 80, ../sass/screen.scss */
div.footer {
  width: 100%;
}
/* line 82, ../sass/screen.scss */
div.footer p {
  text-align: center;
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
}
/* line 88, ../sass/screen.scss */
div.footer div.line {
  text-align: center;
  width: 60%;
  height: 10px;
  background: #f00;
  float: left;
  margin-left: 180px;
}
/* line 96, ../sass/screen.scss */
div.footer div.triangle {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-left: 150px solid #f00;
  float: left;
  margin-top: -20px;
}
